<a href="https://colab.research.google.com/github/jaymalak/Python_exercise/blob/master/Python_Basic_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INTRODUCTION -PYTHON Basic Part I Exercise. Thanks to https://www.w3resource.com/python-exercises/python-basic-exercises.php

Print Twinkle Twinkle Poem

In [0]:
print("Twinkle, twinkle, little star, \n\t\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\t\tHow I wonder what you are!")

Twinkle, twinkle, little star,
		How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
		How I wonder what you are!

Print Python version and Version Information

In [0]:
import sys
print("Version & Version Information  :", sys.version, sys.version_info )

Version & Version Information  : 3.6.8 (default, Oct  7 2019, 12:59:55)
[GCC 8.3.0] sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)

Print Current Date and Time

In [0]:
import datetime
print(datetime.datetime.now())
print(datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"))

2019-12-02 05:35:04.303360
2019-12-02 05:35:04

In [0]:
from math import pi
r = float(input("Enter Radius : "))
area = round(pi * r ** 2)
print("Area is :",area)

Enter Radius : 5
Area is : 79

Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [0]:
fname = input("Enter First Name : ")
lname = input("Enter Last Name  : ")
print(lname,"", fname)

Enter First Name : Jaymala
Enter Last Name  : Kanagala
Kanagala  Jaymala

Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers

In [0]:
csvnum = input("Enter few number with comma separation  : ")
clist = csvnum.split(",")
print("List : ", clist)
print("Tuple : ", tuple(clist))

Enter few number with comma separation  : 3,5,7,10,12,56.98
List :  ['3', '5', '7', '10', '12', '56.98']
Tuple :  ('3', '5', '7', '10', '12', '56.98')

Write a Python program to accept a filename from the user and print the extension of that

In [0]:
filename = input("Enter filename with extension")
print("Extension of entered file is : ", (filename.split(".")[-1]))

Enter filename with extensionabc.java
Extension of entered file is :  java

Write a Python program to display the first and last colors from the following list. color_list = ["Red","Green","White" ,"Black"]

In [0]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0], color_list[-1])

Red Black

Write a Python program to display the examination schedule. (extract the date from exam_st_date)

In [0]:
exam_st_date = (11, 12, 2014)
print("Exam will start from : %i / %i / %i"%exam_st_date)

Exam will start from : 11 / 12 / 2014

Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [0]:
n = int(input("Enter number :"))
n1 = int("%s%s" %(n,n))
n2 = int("%s%s%s" %(n,n,n))
print("Value :", n+n1+n2)

Enter number :5
Value : 615

Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s)

In [0]:
print(abs.__doc__)

Return the absolute value of the argument.

Write a Python program to print the calendar of a given month and year.

In [0]:
import calendar
mmonth=int(input("Enter Month :"))
yyear = int(input("Enter Year : "))
print(calendar.month(yyear,mmonth))

Enter Month :12
Enter Year : 2019
   December 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

Write a Python program to print the following here document.

In [0]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

Write a Python program to calculate number of days between two dates.

In [0]:
import datetime
d1=input("Enter From Date (yyyy-mm-dd)  :")
d2 = input("Enter To Date (yyyy-mm-dd)  :")
year, month, day = map(int, d1.split('-'))
date1 = datetime.date(year, month, day)
year1, month1, day1 = map(int, d2.split('-'))
date2 = datetime.date(year1, month1, day1)
diff = date2 - date1
print(diff)

Enter From Date (yyyy-mm-dd)  :2014-07-02
Enter To Date (yyyy-mm-dd)  :2015-07-02
365 days, 0:00:00

Write a Python program to get the volume of a sphere with radius 6.

In [0]:
pi = 3.14
r = 6
vol = 4/3 *pi*r**3
print("Volume of Sphere is  : ",round(vol))

Volume of Sphere is  :  904

Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.

In [0]:
inu = int(input("Enter Number : "))
if inu <= 17:
        print(17 - inu)
else:
        print((inu - 17) * 2 )

Enter Number : 14
3

17. Write a Python program to test whether a number is within 100 of 1000 or 2000

In [0]:
def nth_two(n) :
     if (abs(n) -1000) <= 100 :
        return("Near 1000")
     elif (abs(n) - 1000) <= 2000 :
        return("Near 2000")
     else :
        return("Not near 1000 or 2000")

print(nth_two(1000))
print(nth_two(2000))
print(nth_two(100))
print(nth_two(800))
print(nth_two(5000))

Near 1000
Near 2000
Near 1000
Near 1000
Not near 1000 or 2000

Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum

In [0]:
def sum_num(p, q,r) :
   ssum = p + q + r

   if p == q == r:
     ssum = ssum * 3
   return(ssum)
print(sum_num(1,2,3))
print(sum_num(5,5,5))

6
45

Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged.

In [0]:
def new_string(str):
  if len(str) >= 2 and str[:2] == "Is":
    return str
  return "Is" + str

print(new_string("Array"))
print(new_string("IsEmpty"))

IsArray
IsEmpty

Write a Python program to get a string which is n (non-negative integer) copies of a given string

In [0]:
def sstring(str,n) :
   cstring=" "
   for i in range(n):
      cstring =cstring +str
   return cstring

print(sstring("Jaymala ", 3))
print(sstring("Happy ",5))

 Jaymala Jaymala Jaymala
 Happy Happy Happy Happy Happy

Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

In [0]:
def even_odd(n) :
   if n%2 == 0 :
      return("Even")
   else :
      return("Odd")

print(even_odd(2))
print(even_odd(15))

Even
Odd

Write a Python program to count the number 4 in a given list.

In [0]:
def fun_4count(n) :
   fcount =0
   for i in n :
      if i == 4 :
        fcount = fcount +1
   return(fcount)

print(fun_4count([1,23,4,56,3,4]))
print(fun_4count([1,23,4,4,4,4]))

2
4

Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2.

In [0]:
def substr_fun(str,n) :
   strfun = ""
   if len(str) > 2 :
      str = str[0:2]
   
   for i in range(n):
     strfun = strfun + str
   return(strfun)

print(substr_fun('padrg',3))  
print(substr_fun('j',4))
print(substr_fun('ja',4))
print(substr_fun('jay',4))

papapa
jjjj
jajajaja
jajajaja

Write a Python program to test whether a passed letter is a vowel or not.

In [0]:
def fun_vowel(c) :
    
  if (c == 'a' or c =='e' or c=='i' or c=='o' or c=='u') :
     return("vowel")
  else :
     return("Not vowel")

print(fun_vowel('j'))
print(fun_vowel('a'))

Not vowel
vowel

Write a Python program to check whether a specified value is contained in a group of values.

In [0]:
def search_groupitem(n, grp_data) :
  for num in grp_data :
    if num == n :
       return True
  return False

print(search_groupitem(44,[1,2,4,53,6,45]))
print(search_groupitem(1,[1,1,4,53,6,45]))

False
True

Write a Python program to create a histogram from a given list of integers.

In [0]:
def draw_his(num) :
 
  for n in num :
    drawhist= ' '
    k = n
    while (k != 0) :
      drawhist += '*'
      k = k -1
    print(drawhist)
print(draw_his([2,4,6,9,5,3]))

 **
 ****
 ******
 *********
 *****
 ***
None

Write a Python program to concatenate all elements in a list into a string and return it.

In [0]:
def fun_con(str) :
  rstr = ' '
  for i in str :
       rstr = rstr +i
  return rstr

print(fun_con(['1','2','4','5']))
print(fun_con(['j','a','y','m','a','l','a']))

 1245
 jaymala

Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Go to the editor
Sample numbers list : 
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [0]:
nlist = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
for i in nlist :
   if i == 237 :
     print(i)
     break;
   elif i % 2 == 0 :
     print(i)

386
462
418
344
236
566
978
328
162
758
918
237

Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2. 
Test Data :
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

In [0]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
print(color_list_1.difference(color_list_2))

{'Black', 'White'}

Write a Python program that will accept the base and height of a triangle and compute the area.

In [0]:
b= input("Enter Base :")
h = input("Enter Height :")

area = 1/2*int(b)*int(h)
print("Area of Triangle :", area)

Enter Base :40
Enter Height :10
Area of Triangle : 200.0

31. Write a Python program to compute the greatest common divisor (GCD) of two positive integers

In [0]:
def gcd(x, y):
    gcd = 1
    
    if x % y == 0:
        return y
    
    for k in range(int(y / 2), 0, -1):
        if x % k == 0 and y % k == 0:
            gcd = k
            break  
    return gcd

print(gcd(12, 24))
print(gcd(4, 6))

12
2

In [0]:
def gcd_fun(x,y) :
   if x > y :
       small = y 
   elif x < y :
      small = x

   for i in range(1,small +1) :
     if((x % i == 0) and (y % i == 0)):
            gcd = i 
   return gcd

print(gcd(12, 24))
print(gcd(4, 6))

12
2

32. Write a Python program to get the least common multiple (LCM) of two positive integers

In [0]:
def lcm_fun(n1,n2) :
  if n1 > n2 :
     n3 = n1
  else :
     n3 = n2
  
  while(True):
     if((n3 % n1 == 0) and (n3 % n2 == 0)):
        lcm = n3
        break
     n3 = n3 +1

  return lcm

print(lcm_fun(14,16))

112

33.  Write a Python program to sum of three given integers. However, if two values are equal sum will be zero

In [0]:
def int_func(n1,n2,n3) :
   if (n1 == n2) or (n2 == n3) or (n3 == n1) :
        nsum = 0
   else :
      nsum = n1 + n2 +n3

   return (nsum)

print(int_func(2,3,5))
print(int_func(11,11,30))

10
0

34. Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20

In [0]:
def sum_int(n1,n2) :
  nsum = n1 +n2
  #if  nsum >= 15 and nsum <=20 :
  if nsum in range(15,20) :
       return (20)
  else :
       return(nsum)

print(sum_int(6,10))
print(sum_int(1,5))

20
6

35. Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5

In [0]:
def num_check(n1,n2) :
   if (n1 == n2) or (((n1+n2) or abs(n1 -n2) ) == 5):
     return True
   else :
     return False

print(num_check(3,2)) 
print(num_check(3,3)) 
print(num_check(10,5))

True
True
False

36. Write a Python program to add two objects if both objects are an integer type.

In [0]:
type(5)

int

In [0]:
def funadd(n1,n2):
  if (type(n1) == int and type(n2) == int) :
     return(n1+n2)
  else :
     raise TypeError("Inputs must be integers")
 
   
print(funadd(5,4))
print(funadd(3,'a'))

9

TypeError: ignored

37. Write a Python program to display your details like name, age, address in three different lines.

In [0]:
def personal_prof(name1,age,address) :
    print("\n\n Entered Name: {}\nAge: {}\nAddress: {}".format(name1, age, address))

print("Pleas Enter Following Details  :")
name = input("name")
age = input("age")
address = input("address")
print(personal_prof(name,age,address))

Pleas Enter Following Details  :
namejaymala
age45
addressgirgaum


 Entered Name: jaymala
Age: 45
Address: girgaum
None

38. Write a Python program to solve (x + y) * (x + y).

In [0]:
x, y = 4, 3
result = x * x + 2 * x * y + y * y
print("({} + {}) ^ 2) = {}".format(x, y, result))

(4 + 3) ^ 2) = 49

39. Write a Python program to compute the future value of a specified principal amount, rate of interest, and a number of years.

In [0]:
print("Enter Following Details :")
a = int(input("amount"))
i = int(input("interest"))
y = int(input("year"))

print("Return Value", round((a*((1+(0.01*i)) ** y)),2))

Enter Following Details :
amount100000
interest5
year5
Return Value 127628.16

40. Write a Python program to compute the distance between the points (x1, y1) and (x2, y2)

In [0]:
import math
p1 = [4, 0]
p2 = [6, 6]
distance = round(math.sqrt( ((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2) ),2)

print("Distance between two given Co-ordinates : " , distance)

Distance between two given Co-ordinates :  6.32

41. Write a Python program to check whether a file exists.

In [0]:
import os.path
open('abc.txt', 'w')
print(os.path.isfile('abc.txt'))

True

42. Write a Python program to determine if a Python shell is executing in 32bit or 64bit mode on OS.

In [0]:
import struct
print(struct.calcsize("P") * 8)

64

43. Write a Python program to get OS name, platform and release information.

In [0]:
import platform
import os
print(os.name)
print(platform.system())
print(platform.release())

posix
Linux
4.14.137+

44. Write a Python program to locate Python site-packages.

In [0]:
import site; 
print(site.getsitepackages())

['/usr/local/lib/python3.6/dist-packages', '/usr/lib/python3/dist-packages', '/usr/lib/python3.6/dist-packages']

45. Write a python program to call an external command in Python.

In [0]:
from subprocess import call
call(["ls", "-l"])

0

46. Write a python program to get the path and name of the file that is currently executing.

In [0]:
import os
print("Current File Name : ",os.path.dirname(os.path.realpath("__file__")))

Current File Name :  /content

47. Write a Python program to find out the number of CPUs using.

In [0]:
import multiprocessing
print(multiprocessing.cpu_count())

2

48. Write a Python program to parse a string to Float or Integer.

In [0]:
n = "246.2458"
print(float(n))
print(int(float(n)))

246.2458
246

49. Write a Python program to list all files in a directory in Python.

In [0]:
from os import listdir
from os.path import isfile, join
files_list = [f for f in listdir('/home') if isfile(join('/home', f))]
print(files_list);

[]

50. Write a Python program to print without newline or space.

In [0]:
for i in range(0, 10):
    print('*', end="")
print("\n")

**********

51. Write a Python program to determine profiling of Python programs.

In [0]:
import cProfile
def sum():
    print(1+2)
cProfile.run('sum()')

3
         39 function calls in 0.001 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.001    0.001 <ipython-input-35-db52c97772c7>:2(sum)
        1    0.000    0.000    0.001    0.001 <string>:1(<module>)
        3    0.000    0.000    0.001    0.000 iostream.py:180(schedule)
        2    0.000    0.000    0.000    0.000 iostream.py:284(_is_master_process)
        2    0.000    0.000    0.001    0.000 iostream.py:297(_schedule_flush)
        2    0.000    0.000    0.001    0.001 iostream.py:342(write)
        3    0.000    0.000    0.000    0.000 iostream.py:87(_event_pipe)
        3    0.000    0.000    0.000    0.000 socket.py:333(send)
        3    0.000    0.000    0.000    0.000 threading.py:1062(_wait_for_tstate_lock)
        3    0.000    0.000    0.000    0.000 threading.py:1104(is_alive)
        3    0.000    0.000    0.000    0.000 threading.py:506(is_set)
        1    0.000    0.000    0.001    0.001 {built-in method builtins.exec}
        2    0.000    0.000    0.000    0.000 {built-in method builtins.isinstance}
        1    0.000    0.000    0.001    0.001 {built-in method builtins.print}
        2    0.000    0.000    0.000    0.000 {built-in method posix.getpid}
        3    0.001    0.000    0.001    0.000 {built-in method posix.urandom}
        3    0.000    0.000    0.000    0.000 {method 'acquire' of '_thread.lock' objects}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

52. Write a Python program to print to stderr.

In [0]:
from __future__ import print_function
import sys

def eprint(*args, **kwargs):
    print(*args, file=sys.stderr, **kwargs)

eprint("abc", "efg", "xyz", sep="--")

abc--efg--xyz

53. Write a python program to access environment variables

In [0]:
import os
# Access all environment variables 
print('*----------------------------------*')
print(os.environ)
print('*----------------------------------*')
# Access a particular environment variable 
print(os.environ['HOME'])
print('*----------------------------------*')
print(os.environ['PATH'])
print('*----------------------------------*')

*----------------------------------*
environ({'ENV': '/root/.bashrc', 'GCS_READ_CACHE_BLOCK_SIZE_MB': '16', 'CLOUDSDK_CONFIG': '/content/.config', 'CUDA_VERSION': '10.1.243', 'PATH': '/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin', 'HOME': '/root', 'LD_LIBRARY_PATH': '/usr/local/nvidia/lib:/usr/local/nvidia/lib64', 'LANG': 'en_US.UTF-8', 'SHELL': '/bin/bash', 'LIBRARY_PATH': '/usr/local/cuda/lib64/stubs', 'CUDA_PKG_VERSION': '10-1=10.1.243-1', 'SHLVL': '1', 'NCCL_VERSION': '2.4.8', 'NVIDIA_VISIBLE_DEVICES': 'all', 'TF_FORCE_GPU_ALLOW_GROWTH': 'true', 'DEBIAN_FRONTEND': 'noninteractive', 'CUDNN_VERSION': '7.6.5.32', 'LAST_FORCED_REBUILD': '20191217', 'JPY_PARENT_PID': '20', 'PYTHONPATH': '/env/python', 'DATALAB_SETTINGS_OVERRIDES': '{"kernelManagerProxyPort":6000,"kernelManagerProxyHost":"172.28.0.3","jupyterArgs":["--ip=\\"172.28.0.2\\""]}', 'NO_GCE_CHECK': 'True', 'GLIBCXX_FORCE_NEW': '1', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', '_': '/tools/node/bin/node', 'LD_PRELOAD': '/usr/lib/x86_64-linux-gnu/libtcmalloc.so.4', 'NVIDIA_REQUIRE_CUDA': 'cuda>=10.1 brand=tesla,driver>=384,driver<385 brand=tesla,driver>=396,driver<397 brand=tesla,driver>=410,driver<411', 'OLDPWD': '/', 'HOSTNAME': '6b9ca4b054d4', 'COLAB_GPU': '0', 'PWD': '/', 'GLIBCPP_FORCE_NEW': '1', 'PYTHONWARNINGS': 'ignore:::pip._internal.cli.base_command', 'TBE_CREDS_ADDR': '172.28.0.1:8008', 'TERM': 'xterm-color', 'CLICOLOR': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline'})
*----------------------------------*
/root
*----------------------------------*
/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin
*----------------------------------*

54. Write a Python program to get the current username

In [0]:
import getpass
print(getpass.getuser())

root

55. Write a Python to find local IP addresses using Python's stdlib

In [0]:
import socket
print([l for l in ([ip for ip in socket.gethostbyname_ex(socket.gethostname())[2] 
if not ip.startswith("127.")][:1], [[(s.connect(('8.8.8.8', 53)), 
s.getsockname()[0], s.close()) for s in [socket.socket(socket.AF_INET, 
socket.SOCK_DGRAM)]][0][1]]) if l][0][0])

socket.gethostname()

172.28.0.2

'6b9ca4b054d4'

56. Write a Python program to get height and width of the console window.

In [0]:
def terminal_size():
    import fcntl, termios, struct
    th, tw, hp, wp = struct.unpack('HHHH',
        fcntl.ioctl(0, termios.TIOCGWINSZ,
        struct.pack('HHHH', 0, 0, 0, 0)))
    return tw, th

##print('Number of columns and Rows: ',terminal_size())
import os
os.get_terminal_size()

OSError: ignored

57. Write a program to get execution time for a Python method.

In [0]:
import time
def sum_of_n_numbers(n):
    start_time = time.time()
    s = 0
    for i in range(1,n+1):
        s = s + i
    end_time = time.time()
    return s,end_time-start_time

n = 5
print("\nTime to sum of 1 to ",n," and required time to calculate is :",sum_of_n_numbers(n))

Time to sum of 1 to  5  and required time to calculate is : (15, 2.1457672119140625e-06)

58. Write a python program to sum of the first n positive integers.

In [0]:
def sum_five(n) :
  nsum = 0
  for  i in range(1,n+1)  :
     nsum = nsum + i
     
  return(nsum)


n = int(input("n"))
print("sum is",sum_five(n))

n8
sum is 36

59. Write a Python program to convert height (in feet and inches) to centimeters.

In [0]:
print("Input your height: ")
hinft = int(input("Feet: "))
hininch = int(input("Inches: "))

hininch += hinft * 12
hcm = round(hininch * 2.54, 1)

print("Your height is : %d cm." % hcm)

Input your height:
Feet: 5
Inches: 2
Your height is : 157 cm.

60. Write a Python program to calculate the hypotenuse of a right angled triangle.

In [0]:
from math import sqrt
print("Input lengths of shorter triangle sides:")
a = float(input("a: "))
b = float(input("b: "))

c = sqrt(a**2 + b**2)
print("The length of the hypotenuse is", round(c,2) )

Input lengths of shorter triangle sides:
a: 5
b: 6
The length of the hypotenuse is 7.81

61. Write a Python program to convert the distance (in feet) to inches, yards, and miles.

In [0]:
def fun_inch(d_ft) :
    d_inches = d_ft * 12
    return(d_inches)

def fun_yards(d_ft) :
    d_yards = d_ft / 3.0
    return(round(d_yards,2))
    
def fun_miles(d_ft) :
    d_miles = d_ft / 5280
    return(round(d_miles,2))
    

d_ft = int(input("Input distance in feet: "))

print("The distance in inches is %i inches.",fun_inch(d_ft))
print("The distance in yards is %.2f yards.",fun_yards(d_ft))
print("The distance in miles is %.2f miles.",fun_miles(d_ft))

Input distance in feet: 100
The distance in inches is %i inches. 1200
The distance in yards is %.2f yards. 33.33
The distance in miles is %.2f miles. 0.02