<a href="https://colab.research.google.com/github/jaymalak/Python_exercise/blob/master/Python_Basic_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INTRODUCTION -PYTHON Basic Part I Exercise. Thanks to https://www.w3resource.com/python-exercises/python-basic-exercises.php

Print Twinkle Twinkle Poem

In [0]:
print("Twinkle, twinkle, little star, \n\t\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\t\tHow I wonder what you are!")

Twinkle, twinkle, little star,
		How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
		How I wonder what you are!

Print Python version and Version Information

In [0]:
import sys
print("Version & Version Information  :", sys.version, sys.version_info )

Version & Version Information  : 3.6.8 (default, Oct  7 2019, 12:59:55)
[GCC 8.3.0] sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)

Print Current Date and Time

In [0]:
import datetime
print(datetime.datetime.now())
print(datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"))

2019-12-02 05:35:04.303360
2019-12-02 05:35:04

In [0]:
from math import pi
r = float(input("Enter Radius : "))
area = round(pi * r ** 2)
print("Area is :",area)

Enter Radius : 5
Area is : 79

Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [0]:
fname = input("Enter First Name : ")
lname = input("Enter Last Name  : ")
print(lname,"", fname)

Enter First Name : Jaymala
Enter Last Name  : Kanagala
Kanagala  Jaymala

Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers

In [0]:
csvnum = input("Enter few number with comma separation  : ")
clist = csvnum.split(",")
print("List : ", clist)
print("Tuple : ", tuple(clist))

Enter few number with comma separation  : 3,5,7,10,12,56.98
List :  ['3', '5', '7', '10', '12', '56.98']
Tuple :  ('3', '5', '7', '10', '12', '56.98')

Write a Python program to accept a filename from the user and print the extension of that

In [0]:
filename = input("Enter filename with extension")
print("Extension of entered file is : ", (filename.split(".")[-1]))

Enter filename with extensionabc.java
Extension of entered file is :  java

Write a Python program to display the first and last colors from the following list. color_list = ["Red","Green","White" ,"Black"]

In [0]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0], color_list[-1])

Red Black

Write a Python program to display the examination schedule. (extract the date from exam_st_date)

In [0]:
exam_st_date = (11, 12, 2014)
print("Exam will start from : %i / %i / %i"%exam_st_date)

Exam will start from : 11 / 12 / 2014

Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [0]:
n = int(input("Enter number :"))
n1 = int("%s%s" %(n,n))
n2 = int("%s%s%s" %(n,n,n))
print("Value :", n+n1+n2)

Enter number :5
Value : 615

Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s)

In [0]:
print(abs.__doc__)

Return the absolute value of the argument.

Write a Python program to print the calendar of a given month and year.

In [0]:
import calendar
mmonth=int(input("Enter Month :"))
yyear = int(input("Enter Year : "))
print(calendar.month(yyear,mmonth))

Enter Month :12
Enter Year : 2019
   December 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

Write a Python program to print the following here document.

In [0]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

Write a Python program to calculate number of days between two dates.

In [0]:
import datetime
d1=input("Enter From Date (yyyy-mm-dd)  :")
d2 = input("Enter To Date (yyyy-mm-dd)  :")
year, month, day = map(int, d1.split('-'))
date1 = datetime.date(year, month, day)
year1, month1, day1 = map(int, d2.split('-'))
date2 = datetime.date(year1, month1, day1)
diff = date2 - date1
print(diff)

Enter From Date (yyyy-mm-dd)  :2014-07-02
Enter To Date (yyyy-mm-dd)  :2015-07-02
365 days, 0:00:00

Write a Python program to get the volume of a sphere with radius 6.

In [0]:
pi = 3.14
r = 6
vol = 4/3 *pi*r**3
print("Volume of Sphere is  : ",round(vol))

Volume of Sphere is  :  904

Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.

In [0]:
inu = int(input("Enter Number : "))
if inu <= 17:
        print(17 - inu)
else:
        print((inu - 17) * 2 )

Enter Number : 14
3

17. Write a Python program to test whether a number is within 100 of 1000 or 2000

In [0]:
def nth_two(n) :
     if (abs(n) -1000) <= 100 :
        return("Near 1000")
     elif (abs(n) - 1000) <= 2000 :
        return("Near 2000")
     else :
        return("Not near 1000 or 2000")

print(nth_two(1000))
print(nth_two(2000))
print(nth_two(100))
print(nth_two(800))
print(nth_two(5000))

Near 1000
Near 2000
Near 1000
Near 1000
Not near 1000 or 2000

Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum

In [0]:
def sum_num(p, q,r) :
   ssum = p + q + r

   if p == q == r:
     ssum = ssum * 3
   return(ssum)
print(sum_num(1,2,3))
print(sum_num(5,5,5))

6
45

Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged.

In [0]:
def new_string(str):
  if len(str) >= 2 and str[:2] == "Is":
    return str
  return "Is" + str

print(new_string("Array"))
print(new_string("IsEmpty"))

IsArray
IsEmpty

Write a Python program to get a string which is n (non-negative integer) copies of a given string

In [0]:
def sstring(str,n) :
   cstring=" "
   for i in range(n):
      cstring =cstring +str
   return cstring

print(sstring("Jaymala ", 3))
print(sstring("Happy ",5))

 Jaymala Jaymala Jaymala
 Happy Happy Happy Happy Happy

Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

In [0]:
def even_odd(n) :
   if n%2 == 0 :
      return("Even")
   else :
      return("Odd")

print(even_odd(2))
print(even_odd(15))

Even
Odd

Write a Python program to count the number 4 in a given list.

In [0]:
def fun_4count(n) :
   fcount =0
   for i in n :
      if i == 4 :
        fcount = fcount +1
   return(fcount)

print(fun_4count([1,23,4,56,3,4]))
print(fun_4count([1,23,4,4,4,4]))

2
4

Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2.

In [0]:
def substr_fun(str,n) :
   strfun = ""
   if len(str) > 2 :
      str = str[0:2]
   
   for i in range(n):
     strfun = strfun + str
   return(strfun)

print(substr_fun('padrg',3))  
print(substr_fun('j',4))
print(substr_fun('ja',4))
print(substr_fun('jay',4))

papapa
jjjj
jajajaja
jajajaja

Write a Python program to test whether a passed letter is a vowel or not.

In [0]:
def fun_vowel(c) :
    
  if (c == 'a' or c =='e' or c=='i' or c=='o' or c=='u') :
     return("vowel")
  else :
     return("Not vowel")

print(fun_vowel('j'))
print(fun_vowel('a'))

Not vowel
vowel

Write a Python program to check whether a specified value is contained in a group of values.

In [0]:
def search_groupitem(n, grp_data) :
  for num in grp_data :
    if num == n :
       return True
  return False

print(search_groupitem(44,[1,2,4,53,6,45]))
print(search_groupitem(1,[1,1,4,53,6,45]))

False
True

Write a Python program to create a histogram from a given list of integers.

In [0]:
def draw_his(num) :
 
  for n in num :
    drawhist= ' '
    k = n
    while (k != 0) :
      drawhist += '*'
      k = k -1
    print(drawhist)
print(draw_his([2,4,6,9,5,3]))

 **
 ****
 ******
 *********
 *****
 ***
None

Write a Python program to concatenate all elements in a list into a string and return it.

In [6]:
def fun_con(str) :
  rstr = ' '
  for i in str :
       rstr = rstr +i
  return rstr

print(fun_con(['1','2','4','5']))
print(fun_con(['j','a','y','m','a','l','a']))

 1245
 jaymala

Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Go to the editor
Sample numbers list : 
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [13]:
nlist = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
for i in nlist :
   if i == 237 :
     print(i)
     break;
   elif i % 2 == 0 :
     print(i)

386
462
418
344
236
566
978
328
162
758
918
237

Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2. 
Test Data :
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

In [14]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
print(color_list_1.difference(color_list_2))

{'Black', 'White'}

Write a Python program that will accept the base and height of a triangle and compute the area.

In [19]:
b= input("Enter Base :")
h = input("Enter Height :")

area = 1/2*int(b)*int(h)
print("Area of Triangle :", area)

Enter Base :40
Enter Height :10
Area of Triangle : 200.0

Write a Python program to compute the greatest common divisor (GCD) of two positive integers

In [21]:
def gcd(x, y):
    gcd = 1
    
    if x % y == 0:
        return y
    
    for k in range(int(y / 2), 0, -1):
        if x % k == 0 and y % k == 0:
            gcd = k
            break  
    return gcd

print(gcd(12, 24))
print(gcd(4, 6))

12
2

In [22]:
def gcd_fun(x,y) :
   if x > y :
       small = y 
   elif x < y :
      small = x

   for i in range(1,small +1) :
     if((x % i == 0) and (y % i == 0)):
            gcd = i 
   return gcd

print(gcd(12, 24))
print(gcd(4, 6))

12
2