<a href="https://colab.research.google.com/github/jaymalak/Python_exercise/blob/master/stringpract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
# Python3 code to demonstrate 
# Extracting numbers from list of strings 
# using list comprehension + split() 

# initializing list 
##test_list = ['Rs. 24', 'Rs. 18', 'Rs. 8', 'Rs. 21'] 
test_list = [' 67 to 89', ' 36-48', ' 67 to 89'] 

# printing original list 
print("The original list : " + str(test_list)) 

# using list comprehension + split() 
# Extracting numbers from list of strings 
res = [int(sub.split('-')[1]) for sub in test_list] 

# print result 
print("The list after Extracting numbers : " + str(res))

The original list : [' 67 to 89', ' 36-48', ' 67 to 89']

IndexError: ignored

In [44]:
# Python3 code to demonstrate 
# Extracting numbers from list of strings 
# using join() + isnumeric() + list comprehension + map() 

# initializing list 
test_list = [' 67 to 89', ' 36-48', ' 67 to 89']

# printing original list 
print("The original list : " + str(test_list)) 

# using join() + isnumeric() + list comprehension + map() 
# Extracting numbers from list of strings 
res = list(map(lambda sub:int(''.join( 
	[ele for ele in sub if ele.isnumeric()])), test_list)) 

# print result 
print("The list after Extracting numbers : " + str(res)) 
fstr = str(res)
print(text.index(fstr,0,1))

The original list : [' 67 to 89', ' 36-48', ' 67 to 89']
The list after Extracting numbers : [6789, 3648, 6789]

ValueError: ignored

In [20]:
word = 'CHANDRAPUR -Rev 3 blk 67 to 96 ICQ and BD by SLDC 67 to 89'

# returns first occurrence of Substring 
result = word.find('96') 
print ("Substring 'to' found at index:", result ) 

result = word.find('ICQ') 
print ("Substring 'for ' found at index:", result ) 

# How to use find() 
if (word.find('pawan') != -1): 
	print ("Contains given substring ") 
else: 
	print ("Doesn't contains given substring")

Substring 'to' found at index: 28
Substring 'for ' found at index: 31
Doesn't contains given substring

In [11]:
# Python3 code to demonstrate working of 
# Convert list to Python array 
# Using array() + data type indicator 
from array import array 

# initializing list 
test_list = [6, 4, 8, 9, 10] 

# printing list 
print("The original list : " + str(test_list)) 

# Convert list to Python array 
# Using array() + data type indicator 
res = array("i", test_list) 

# Printing result 
print("List after conversion to array : " + str(res))

The original list : [6, 4, 8, 9, 10]
List after conversion to array : array('i', [6, 4, 8, 9, 10])

In [23]:
import re
test_number = 67
str1="CHANDRAPUR -Rev 3 blk 67 to 96 ICQ and BD by SLDC 67 to 89"
x= re.search("{}".format(test_number),str1).group()
print (x)

67

In [0]:
def checkInt(value):
    try:
        int(value)
        return True
    except ValueError:
        return False

test_num = 67
x = "CHANDRAPUR -Rev 3 blk 67 to 96 ICQ and BD by SLDC 67 to 89"
y = x.split("to")
z = y[1].split("_")
if checkInt(z[0]) == True:
    num = int(z[0])
    if num == test_num:
        ####do something ####
        print('hi')

In [26]:
import re

s = 'asdf=5;iwantthis123jasd'
result = re.search('asdf=5;(.*)123jasd', s)
print(result.group(1))

iwantthis

In [27]:
text = 'I want to find a string between two substrings'
left = 'find a '
right = 'between two'

print(text[text.index(left)+len(left):text.index(right)])

string

In [30]:
text = 'CHANDRAPUR -BACKDOWN BY SLDC BLK 36-48'
left = 'SLDC BLK'
right = 'between two'

##print(text[text.index(left)+len(left):text.index(right)])
text[text.index(left)+len(left):len(text)]

' 36-48'

In [34]:
text = 'CHANDRAPUR -Rev 3 blk 67 to 96 ICQ and BD by SLDC 67 to 89'
left = 'BD by SLDC'
right = 'to'

##print(text[text.index(left)+len(left):text.index(right)])
text[text.index(left)+len(left):len(text)]

' 67 to 89'

In [45]:
# Python3 code to demonstrate 
# Extracting numbers from list of strings 
# using join() + isnumeric() + list comprehension + map() 

# initializing list 
test_list = [' 67 to 89', ' 36-48', ' 67 to 89']

# printing original list 
print("The original list : " + str(test_list)) 

# using join() + isnumeric() + list comprehension + map() 
# Extracting numbers from list of strings 
res = list(map(lambda sub:int(''.join( 
	[ele for ele in sub if ele.isnumeric()])), test_list)) 

# print result 
print("The list after Extracting numbers : " + str(res)) 
fstr = str(res)

The original list : [' 67 to 89', ' 36-48', ' 67 to 89']
The list after Extracting numbers : [6789, 3648, 6789]